<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>정우저장소 - 카카오톡 분석기</title>
 <style type="text/css">
       #crimson{
           color:white;background-color:crimson;
           width:300px;
           height:auto;
           border:2px solid black;
           border-radius:10px;
       }
       #aqua{
           color:black;background-color:aqua;
           width:300px;
           height:auto;
           border:2px solid black;
           border-radius:10px;
       }
    </style>
    
</head>
<body>

<center>

<p><br></p>
<p><br></p>
<FONT color="#f7c700" size=5 face=굴림, 돋움, Seoul, 한강체><b>★★<B>★★★★★★★★</FONT>
<br>
<p id="aqua" >
<a style="text-decoration:none;" href="{% url 'index' %}" target="_self"><font color=#0f0f0f face="verdana" size=6>LJW Storage</font></a>
</p>
<br>
<font color=#00ccc0 size=5 face="나눔명조"><b>카카오톡 대화 분석기</b></font>
<br><br>
<font color=#c41616 size=3 face="고딕체"><b>[ 카카오톡 대화 → 메뉴 → 대화 내용 → 대화 내보내기 ]<br><br>텍스트 파일을 저장한 후, 업로드 하세요.</b></font>
<br><br>
 
<form method='post' action='' enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit">
</form>
  
<br><br>


</center>
</body>
</html>