<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>루다저장소</title>
    <link rel="stylesheet" href="css/bootstrap.css"
    <html lang="ko">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
<body>
<div id="enters" style="font-size:30px;">
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
    안녕?</br>
</div>
<script>
    var page = 1;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            for (var i = 0; i < 10; i++) {
                $("#enters").append(page + ":내용</br>");
                $("#enters").append("<button type="button" class="btn btn-primary">" + page + "버튼</button>");
            }
            page++;
        }
    });
</script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>